body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f1f8;
}
h2 {
    color: #1e90ff;
    margin-top: 0;
    font-weight: 600;
}
p {
    color: #00008b;
    line-height: 1.5;
}
p span {
    font-size: 24px;
    font-weight: 500;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: url(img/header.png);
    background-size: cover;
    background-position: 25% 33%;
    border-bottom: 5px solid #4682b4;
}
.title {
    color: #4682b4;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
table {
    border-collapse: collapse;
    color: #00008b;
    background: #e6f2ff;
    width: 100%;
}
th {
    padding: 10px;
    border: 1px solid #4682b4;
    background-color: #87cefa;
}
td {
    border: 1px solid #4682b4;
    padding: 8px 10px;
}
.table-title {
    background: #e6f2ff;
    color: #00008b;
    text-align: center;
    margin-bottom: 0;
    padding: 8px;
    font-size: 24px;
}
.table-title::before, .table-title::after {
    content: "*";
    color: #00008b;
    margin: 0 10px;
}
.content {
    background-color: #fff;
    padding: 20px;
}
.txt {
    background: #e6f2ff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    min-height: 260px;
}
.fishing-img {
    width: 360px;
    margin-right: 15px;
    border-radius: 5px;
    float: left;
}